{% extends 'base.html.twig' %}

{% block content %}
    <p class="form_title">Veuillez selectionner un champion et ecrire le nom d'une personne qui vous tient a coeur</p>
    {{ form(form) }}
{% endblock %}

